html{
  scroll-behavior: smooth;
  height: 100%;
}
.wrapper {
  width: 90%;
  position: relative;
  margin: 2vh auto; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editor-container,
.preview-container {
  display: block;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding: 2em 1em;
  box-shadow: 0 1.25em 4em rgba(8, 6, 75, 0.15);
  border-radius: 0.5em;
}
.editor-container {
  margin: 0 0.6em 0 0;
}
.preview-container {
  display: grid;
  place-items: center;
}
input[type="file"] {
  display: none;
}
label {
  display: block;
  background-color: #025bee;
  color: #ffffff;
  width: 12em;
  font-size: 1.1em;
  text-align: center;
  padding: 1em 0;
  border-radius: 0.3em;
  margin: auto;
  cursor: pointer;
}
.image-container {
  margin-bottom: 1em;
}
img {
  max-width: 100%;
}
button,
a {
  border: none;
  outline: none;
  place-items: center;
  cursor: pointer;
}
.options-btn {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options-btn button {
  background-color: #dceafe;
  color: #025bee;
  border-radius: 0.3em;
  font-size: 0.8em;
  height: 3.2em;
  width: 3.2em;
}
.options-btn button img {
  width: 1.1em;
}
.action-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
}

#use-photo {
  background-color: #009416;
  font-size: 1em;
  padding: 0.8em 1em;
  color: #ffffff;
  border-radius: 0.3em;
  text-decoration: none;
}
.hide {
  display: none;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
    position: relative;
    transform: none;
    left: auto;
    top: auto;
    margin-top: 1em;
  }
  img {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  .editor-container {
    margin: 0 0 0.6em 0;
  }
}
